* {
    background-image: url('../public/img/quizST.png');
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    font-family: Benguiat Bold Condensed;
    color: #FFA586;
}

header a {
    color:white;
}