* {
    background-image: url('../img/st-fullhd.png');
    margin: 5px;
    border: 0;
    padding: 0;
}

header {
    word-spacing: 150px;
}

header a {
    color:white;
}

.perfil {
    text-align: end;
}


